body{
    background: url(tile.jpg);
    margin:0;
}

#header{
    display: block;
    margin: 20px auto ;
}

@media only screen and (max-width: 600px){
    #header {
        width:100%;
    }
}

#input-container{
    position: relative;
}

.input-background {
    display: block;
    margin: 0 auto;
}


@media only screen and (max-width: 600px){
    .input-background {
        width:100%;
    }
}

textarea{

    width: 100%;

}

.note-image:hover+.trash-icon{
    width:30px;
    visibility: visible;
    position: absolute;
    left:170px;
    top: 25px;
}
