@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body{
    background: url(tile.jpg);
    margin:0;
}

:root{
	--form-font: 'Gloria Hallelujah', cursive;
	--note-font: 'Gloria Hallelujah', cursive;
	--date-font: 'Gloria Hallelujah', cursive;
	--time-font: 'Gloria Hallelujah', cursive;
}

#header{
    display: block;
    margin: 20px auto ;
}

/*@media only screen and (max-width: 600px){
    #header {
        width:100%;
    }
}*/

#input-container{
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
    position: relative;
	background: url("formbg.jpg");
	background-repeat: repeat-y;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 80px;
}
#input-container textarea{ 
	margin-top: 10px;
	/*padding-left: 80px;*/
	background: none;
	border: none;
	resize:none;
	width: 100%;
	line-height: 33px;
	font-size: large;
	font-family: var(--form-font);
}

textarea:focus{
	outline: 0;
}

#input-footer{
	/*padding-left: 77px;*/
	margin-top: 22px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#input-footer > input{
	width:133px;
	margin-bottom: 7px;
}

#notes-container{
	width:90%;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/*.note{
	padding-left:35px;
	position: relative;
	opacity: 0;
	transition: opacity 2s linear;
}*/

/*.note-fade-in{
	opacity: 1;
}*/

/*.note-text{
	position: absolute;
	top: 45px;
	left: 40px;
	margin-bottom: 0;
	width: 170px;
	height:150px;
	overflow: auto;
	font-family: var(--note-font);
}*/

/*.note-date{
	position: absolute;
	margin-bottom: 0;
	width:160px;
	bottom: 35px;
	left: 40px;
	font-family: var(--date-font);
}*/

/*.note-time{
	position: absolute;
	margin-bottom: 0;
	width:160px;
	bottom: 15px;
	left: 40px;
	font-family: var(--time-font);
}*/

/*.note-trash-icon{
	position: absolute;
	opacity: 0;
	width:24px;
	right:25px;
	top:22px;
	cursor: pointer;
}*/


/*.input-background {
    display: block;
    margin: 0 auto;
}*/


/*@media only screen and (max-width: 600px){
    .input-background {
        width:100%;
    }
}*/


/*.note-img:hover + .note-trash-icon, .note-trash-icon:hover{

	opacity: 1;
}*/


#err-msg {
	display: none;
	color:red;
	font-weight: bold;
	padding-top: 6px;
	text-align: center;
}

.note{
	background: url("notebg.png") no-repeat;
	width:200px;
	height:250px;
}

.note-inner{
	display: flex;
	flex-wrap: wrap;
	width:179px;
	height:230px;
	margin-top:15px;
	padding-left: 5px;
}

.btn-container{
	height: 24px;
	width:100%;
	margin-top: 7px;
	padding-left: 145px;
	opacity: 0;
}

.trash-btn{
	position: absolute;
	background-color: transparent;
	border:none;
	padding:0;
	height:24px;
	/*margin-top: 25px;
	margin-left: 150px;*/
	
}

.note-text{
	width:100%;
	height: 150px;
	margin-bottom: 0;
	font-family: var(--note-font);
}

.note-time{
	width: 100%;
	margin-bottom: 0;
	font-family: var(--time-font);
}

.note-date{
	width:100%;
	margin-bottom: 0;
	font-family: var(--date-font);
}

.note-inner:hover > .btn-container{
	opacity:1;
}